.nav {
    grid-area: n;
    background-color: #ffffff;
}

.item {
    color: gray;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

.item a {
    color: gray;
    text-decoration: none;
    padding-left: 20px;
}

.item a.active {
    color: black;
}